<div class="container" style="width:100%;">
	<div ng-if="$mode.current() == 'password-change'">
		Old
		<input type='password' ng-model="model.user.password.old"/>

		New
		<input type='password' ng-model="model.user.password.current"/>

		Confirm
		<input type='password' ng-model="model.user.password.confirm"/>

		<a href="#/users" ng-click="$mode.change('list')" class="btn btn-default">{{'button.cancel' | i18next}}</a>

		<button ng-click="changePassword();" class="btn btn-info" ng-disabled="form_add.$invalid || loginInvalid">Change</button>

	</div>
</div>