<div class="container" style="width:100%;">
	<div ng-if="$mode.current() == 'list'">
		<div>
			<div ng-repeat="user in ::users" class="users">
				<a href="#/user/profile/{{user.id}}">
					<div class="users-item">
						<div>{{'('+user.login+') '+user.name}}</div>
						<div ng-if="map['roles']['u'+user.id].length != 0">
							<span ng-repeat="role in map['roles']['u'+user.id]">{{::role.name}} </span>
						</div>
					</div>
				</a>
			</div>
		</div>

		<a href="#/users/add" ng-click="$mode.change('add')" class="btn btn-default">{{'button.add' | i18next}}</a>
	</div>

	<div ui-view></div>
</div>