<div class="container">
	<div ng-if="$mode.current() == 'list'">
		<p ng-repeat="u in allUsers" online-status map="map" prefix="prefix" user="u"></p>
		<div>
			<div class="row" ng-repeat="room in rooms">
				<div class="col-sm-4">
					<a href="#/room/view/{{room.id}}" ng-click="select(room)">{{room.name}}</a> {{room.messages.length}} messages, {{room.users.length}} participants
				</div>
				<div class="col-sm-4" access-status map="map" prefix="prefix" 
					user="thisUserId" room="room.id"
					add="addUser(user,room)" remove="removeUser(user,room)">
				</div>
			</div>
		</div>

		<a href="#/room/add" ng-if="$security.hasRole('ADMIN')" ng-click="preAdd()" class="btn btn-default">add</a>
	</div>

	<div ui-view></div>
</div>